body {
    background-color: rgb(234 237 241);
    font-family: "rockwell";
}

.add-post:hover {
    background-color: white !important;
    color: blue !important;
}

.navbar {
    height: 60px !important;
}

.footer {
    height: 60px !important;
}